<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <przelewy24>
                <active>0</active>
                <title>Przelewy24</title>
                <crc_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <report_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <production_url>https://secure.przelewy24.pl</production_url>
                <sandbox_url>https://sandbox.przelewy24.pl</sandbox_url>
                <test_mode>1</test_mode>
                <allowed_currencies>PLN</allowed_currencies>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <select_payment_method_in_store>1</select_payment_method_in_store>
                <wait_for_transaction_result>0</wait_for_transaction_result>
                <payment_methods>[]</payment_methods>
                <model>Przelewy24Facade</model>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_fetch_transaction_info>1</can_fetch_transaction_info>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <can_void>0</can_void>
                <can_review_payment>0</can_review_payment>
                <can_accept_payment>0</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <paymentInfoKeys>Pay for the order</paymentInfoKeys>
                <instalment_map>{"72":{"from":150,"to":20000},"129":{"from":300,"to":10000},"136":{"from":300,"to":10000},"164":{"from":100,"to":50000},"266":{"from":0,"to":10000},"227":{"from":10,"to":3000},"294":{"from":150,"to":30000},"303":{"from":100,"to":50000}}</instalment_map>
                <promote_eraty_scb>1</promote_eraty_scb>
                <payment_auto_update>0</payment_auto_update>
                <payment_time_limit>720</payment_time_limit>
                <payment_extra_time_limit>720</payment_extra_time_limit>
                <payment_extra_time_limit_methods/>
                <refund_compatibility_enabled>0</refund_compatibility_enabled>
            </przelewy24>
            <przelewy24_card>
                <active>0</active>
                <title>Credit Card</title>
                <production_script_url>https://secure.przelewy24.pl/whitelabel/card/javascript/%s</production_script_url>
                <sandbox_script_url>https://sandbox.przelewy24.pl/whitelabel/card/javascript/%s</sandbox_script_url>
                <production_tokenization_script_url>https://secure.przelewy24.pl/js/cardTokenizationIframe.min.js</production_tokenization_script_url>
                <sandbox_tokenization_script_url>https://sandbox.przelewy24.pl/js/cardTokenizationIframe.min.js</sandbox_tokenization_script_url>
                <allowed_currencies>PLN</allowed_currencies>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <model>Przelewy24CardFacade</model>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture>1</can_capture>
                <can_fetch_transaction_info>1</can_fetch_transaction_info>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <can_void>0</can_void>
                <can_review_payment>1</can_review_payment>
                <can_accept_payment>0</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <paymentInfoKeys>Pay for the order</paymentInfoKeys>
            </przelewy24_card>
            <przelewy24_card_vault>
                <model>Przelewy24CardVaultFacade</model>
                <title>Stored Cards</title>
            </przelewy24_card_vault>
            <przelewy24_blik>
                <active>0</active>
                <confirmation_error_time>5000</confirmation_error_time>
                <title>BLIK</title>
                <allowed_currencies>PLN</allowed_currencies>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <model>Przelewy24BlikFacade</model>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_fetch_transaction_info>1</can_fetch_transaction_info>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <can_void>0</can_void>
                <can_review_payment>1</can_review_payment>
                <can_accept_payment>0</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <paymentInfoKeys>Pay for the order</paymentInfoKeys>
            </przelewy24_blik>
            <przelewy24_blik_vault>
                <model>Przelewy24BlikVaultFacade</model>
                <title>Stored BLIK</title>
            </przelewy24_blik_vault>
            <przelewy24_google_pay>
                <active>0</active>
                <title>Google Pay</title>
                <production_script_url>https://secure.przelewy24.pl/whitelabel/card/javascript/%s</production_script_url>
                <sandbox_script_url>https://sandbox.przelewy24.pl/whitelabel/card/javascript/%s</sandbox_script_url>
                <authentication_methods>PAN_ONLY,CRYPTOGRAM_3DS</authentication_methods>
                <card_networks>AMEX,DISCOVER,INTERAC,JCB,MASTERCARD,VISA</card_networks>
                <allowed_currencies>PLN</allowed_currencies>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <model>Przelewy24GooglePayFacade</model>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_fetch_transaction_info>1</can_fetch_transaction_info>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <can_void>0</can_void>
                <can_review_payment>1</can_review_payment>
                <can_accept_payment>0</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <paymentInfoKeys>Pay for the order</paymentInfoKeys>
            </przelewy24_google_pay>
            <przelewy24_apple_pay>
                <active>0</active>
                <title>Apple Pay</title>
                <production_script_url>https://secure.przelewy24.pl/whitelabel/card/javascript/%s</production_script_url>
                <sandbox_script_url>https://sandbox.przelewy24.pl/whitelabel/card/javascript/%s</sandbox_script_url>
                <allowed_currencies>PLN</allowed_currencies>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <model>Przelewy24ApplePayFacade</model>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_fetch_transaction_info>1</can_fetch_transaction_info>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <can_void>0</can_void>
                <can_review_payment>1</can_review_payment>
                <can_accept_payment>0</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <paymentInfoKeys>Pay for the order</paymentInfoKeys>
            </przelewy24_apple_pay>
            <przelewy24_instalment_widget>
                <enabled>1</enabled>
                <show_on_pdp>1</show_on_pdp>
                <show_on_cart>1</show_on_cart>
                <show_on_checkout>1</show_on_checkout>
                <banner_size>mini</banner_size>
                <show_simulator>1</show_simulator>
                <method_id>303</method_id>
                <currency>PLN</currency>
                <lang>pl</lang>
            </przelewy24_instalment_widget>
        </payment>
    </default>
</config>
