<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="przelewy24" frontName="przelewy24">
            <module name="PayPro_Przelewy24" before="Magento_Backend"/>
        </route>
    </router>
</config>
